{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block body %}

<div class="section hero" style="background-image:url(/static/media/1.JPG)">
  <h1 style='--span-bg:#18181b;'>
    <span>About Us</span>
  </h1>
</div>
<div class='section'>
  <p>Coding for good is a high school initiative which promotes coding skills amongst students and works towards the betterment of the school. It currently has 16 students, from grade 9 to 12, who constantly challenge themselves to come up with
    sustainable solutions for problems their peers in school may face. We are comprised of people passionate about service and want to reach out to our community by applying our computer science knowledge. As we are a unified team with an eclectic
    mix of skills, we work together to combine our programming, engineering and design skills to create projects that will benefit the various service groups and clubs in school. This may take the form of a website or an app.</p>
  <p>Our weekly meetings consist of us working enthusiastically on projects that will make tasks easier for the student body and faculty. In part with the collaborative spirit seen in companies, students and teacher move around getting help and
    offering it. We keep track of all of our projects to ensure students work efficiently and to keep our “clients” updated. In their small groups, while working on projects, students learn valuable life lessons on how to keep friendly relations
    with clients and how to solve coding/engineering/design based real-life problems by sharing their knowledge with their peers to ultimately create a project that will benefit the community.</p>
</div>

{% endblock %}