{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class='section'>
  <h1>Call For Companies</h1>
  <h5>We rely on the generosity of corporate and private sponsors to help us achieve our goals. We are grateful for each sponsor’s passion for our mission and desire to support those in need.</h5>
  <h5>If you're interested in sponsoring our hackathon, please send us an email.</h5>
  <a class='button' href='mailto:dak@uwcsea.edu.sg'>dak@uwcsea.edu.sg</a>
</div>

{% endblock %}