{% extends "base.html" %}

{% block title %}Hackathon 2019{% endblock %}

{% block body %}

<div class="section hero" style="background-image:url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2562d07e189d92150c0b24ee243c5af2&auto=format&fit=crop&w=2100&q=80)">
  <h1 style='--span-bg:#000b13;'>
    <span>Hackathon</span>
    <br>
    <span>2019</span>
  </h1>
</div>
<div class="section">
  <h3>Make a Difference</h3>
  <p>Coding for good is a high school initiative which promotes coding skills amongst students and works towards the betterment of the school. It currently has 16 students, from grade 9 to 12, who constantly challenge themselves to come up with
    sustainable solutions for problems their peers in school may face. We are comprised of people passionate about service and want to reach out to our community by applying our computer science knowledge. As we are a unified team with an eclectic
    mix of skills, we work together to combine our programming, engineering and design skills to create projects that will benefit the various service groups and clubs in school. This may take the form of a website or an app. </p>

  <p>Our weekly meetings consist of us working enthusiastically on projects that will make tasks easier for the student body and faculty. In part with the collaborative spirit seen in companies, students and teacher move around getting help and
    offering it. We keep track of all of our projects to ensure students work efficiently and to keep our “clients” updated. In their small groups, while working on projects, students learn valuable life lessons on how to keep friendly relations
    with clients and how to solve coding/engineering/design based real-life problems by sharing their knowledge with their peers to ultimately create a project that will benefit the community.</p>

  <p>The teacher leader is Mr. David Kann. He brings experience from his work at Intel and Raymond Corp (Toyota Heavy Industries Subsidiary). Currently, he is a decade-long IB teacher and learner in Physics and Computer Science.</p>
</div>
<div class="section hero map">
  <div class="img"></div>
  <div class="info">
    <h3>Location</h3>
    <p>The event will be held at UWCSEA East Campus.</p>
    <div class='footer'>
      <a href="https://www.google.com/maps/place/UWCSEA+East+Campus+(Singapore,Tampines+Street+73)/@1.361291,103.934749,14z/data=!4m5!3m4!1s0x31da3d73e1e25a47:0x1c8de7ab5f338d21!8m2!3d1.357903!4d103.931809" class="no_pace">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g>
            <path d="M256,0C167.641,0,96,71.625,96,160c0,24.75,5.625,48.219,15.672,69.125C112.234,230.313,256,512,256,512l142.594-279.375
		C409.719,210.844,416,186.156,416,160C416,71.625,344.375,0,256,0z M256,256c-53.016,0-96-43-96-96s42.984-96,96-96
		c53,0,96,43,96,96S309,256,256,256z" />
          </g>
        </svg>
        <span class='address'>1 Tampines Street 73</span>
      </a>
    </div>
  </div>
</div>
<div class="section">
  <h3>Get Involved</h3>
  <p>We rely on the generosity of corporate and private sponsors to help us achieve our goals. We are grateful for each sponsor’s passion for our mission and desire to support those in need.</p>
  <p>If you're interested in sponsoring our hackathon, please send us an email.</p>
  <a class='button' href='mailto:dak@uwcsea.edu.sg'>dak@uwcsea.edu.sg</a>
</div>

{% endblock %}