{% extends "base.html" %}

{% block title %}Hackathon 2019{% endblock %}

{% block body %}

<div class="section hero" style="background-image:url(/static/media/hero.jpg)">
  <h1 style='--span-bg:#000b13;'>
    <span>Hackathon</span>
    <br>
    <span>2019</span>
  </h1>
</div>
<div class="section">
  <h3>In Partnership With Blue Dragons</h3>
  <p>Founded in 2003, Blue Dragon Children’s Foundation is a non-profit organisation based in Vietnam whose aim is to help street kids and children who have been affected by slavery and human trafficking. Blue Dragon’s Safe and Sound program works
    with Vietnamese and Chinese authorities to rescue women and children who have been trafficked, most of them into China, helping them to return home and educating whole communities on how to avoid further trafficking incidents. They are working
    with the local authorities to better understand the nature of human trafficking in Vietnam and how to respond to such situations, whilst offering long-term counselling and school support to those affected by trafficking. </p>
</div>
<div class="section hero" style="background-image:url(/static/media/hackathon/blue-dragon-1.JPG)">
</div>
<div class='section'>
  <h3>Project X</h3>
  <p>Project X is Blue Dragon’s program to provide psychosocial support for survivors of sex trafficking, as the rescue is only the first part of a long and difficult journey of recovery for girls and women who have been trafficked. Blue Dragon has
    established emergency shelters for girls and women who have just escaped sex trafficking, as well as a network of ongoing assistance to return to school, university or other training to ensure a brighter future for these survivors. As part of
    the Project X program, the girls and women have regular medical checkups, and care and nutrition to get them back to good physical health, as well as receiving psychological counselling to recover from both short-term and long-term trauma.
  </p>
  <p>There are many potential uses for this type of app, but the main focuses would most likely be to support Blue Dragon, to inform of threats, and to create a support system, or network. The main ways in which this app would support Blue Dragon’s
    efforts would be to have feature that victims could make use of to inform blue dragon as well as to help Blue Dragon to better and more effectively inform vulnerable populations/individuals. The support system/network could be used to let
    victims get in touch with each other thus creating a type of support structure. This could also be a tool for those willing to share their story to be able to do so, which could also help inform vulnerable individuals and create a safer of
    environment for those who have experienced similar trauma. This network can also be used in order for information sharing to occur between Blue Dragon and communities, as well as between communities.</p>
  <a class='button no_pace' target="_blank" href='https://www.bluedragon.org/our-work/safe-and-sound-program/ '>Learn More</a>
</div>
<!-- <div class="section hero" style="background-image:url(/static/media/hackathon/blue-dragon-2.png)"></div> -->
<div class="section hero map">
  <div class="img"></div>
  <div class="info">
    <h3>Location</h3>
    <p>The event will be held at UWCSEA East Campus on March 2nd.</p>
    <div class='footer'>
      <a href="https://www.google.com/maps/place/UWCSEA+East+Campus+(Singapore,Tampines+Street+73)/@1.361291,103.934749,14z/data=!4m5!3m4!1s0x31da3d73e1e25a47:0x1c8de7ab5f338d21!8m2!3d1.357903!4d103.931809" class="no_pace">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g>
            <path d="M256,0C167.641,0,96,71.625,96,160c0,24.75,5.625,48.219,15.672,69.125C112.234,230.313,256,512,256,512l142.594-279.375
		C409.719,210.844,416,186.156,416,160C416,71.625,344.375,0,256,0z M256,256c-53.016,0-96-43-96-96s42.984-96,96-96
		c53,0,96,43,96,96S309,256,256,256z" />
          </g>
        </svg>
        <span class='address'>1 Tampines Street 73</span>
      </a>
    </div>
  </div>
</div>
<div class="section">
  <h3>Get Involved</h3>
  <p>We rely on the generosity of corporate and private sponsors to help us achieve our goals. We are grateful for each sponsor’s passion for our mission and desire to support those in need.</p>
  <p>If you're interested in sponsoring our hackathon, please send us an email.</p>
  <a class='button no_pace' href='mailto:dak@uwcsea.edu.sg'>dak@uwcsea.edu.sg</a>
</div>

{% endblock %}