{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="section hero" style="background-image:url(https://images.unsplash.com/photo-1511376777868-611b54f68947?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=443ecc7e4ff4ad0f3fbf446325d76ede&auto=format&fit=crop&w=1650&q=80)">
  <h1><span>WE ARE</span><br><span>CODING FOR</span><br><span>GOOD</span></h1>
</div>
<div class='section'>
  <div class='content'>
    <div class='col large'>
      <h4>Our Goal</h4>
      <h2>Coding For Good aims to help others through the use of digital code.</h2>
    </div>
    <div class='col small'>
      <p>Whether you need a website for your GC or an app for your service, Coding For Good will help you every step of the way.</p>
      <p>Started in 2017 by UWCSEA East High School Physics teacher David Kann and a small handful of students, Coding for Good has evolved into a group of more than 15 students, still with the same goal in mind.</p>
      <a class='button' href='/contact'>Work with us</a>
    </div>
  </div>
  <div style='overflow: hidden;' class='img-group'>
    <iframe style="overflow: hidden;" frameBorder="0" class='img' src="https://drive.google.com/file/d/1Ly1KS6xc--IPZC37jXtJdaGAOZy5fIOX/preview" scrolling="no"></iframe>
  </div>
  <div class='img-group'>
    <div class='img small' style='background-image:url(https://images.unsplash.com/photo-1533906966484-a9c978a3f090?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b05b346633118a56e7f33bd727a10383&auto=format&fit=crop&w=2002&q=80)'></div>
    <div class='img small' style='background-image:url(https://images.unsplash.com/photo-1526498460520-4c246339dccb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5eb27a51db4fda32656d35b5e6b93574&auto=format&fit=crop&w=2700&q=80)'></div>
  </div>
  <div class='img-group'>
    <div class='img' style='background-image:url(https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=377787d2c1cc6d49f8d9f8f533a1a410&auto=format&fit=crop&w=2000&q=80)'></div>
  </div>
</div>

{% endblock %}