{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}

<div class='section'>
  <a class='back' href='/projects'>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258;" xml:space="preserve">
      <polygon points="289.927,18 265.927,0 114.331,202.129 265.927,404.258 289.927,386.258 151.831,202.129 " />
    </svg>
    <span>All Projects</span>
  </a>
  <h1>{{ project.title }}</h1>
  {% if project.img is defined %}
  <div class='img-group'>
    <div class='img' style='background-image:url({{ project.img }})'></div>
  </div>
  {% endif %}
  <h5 style='font-weight:500;text-transform:uppercase;'>Client: {{ project.client }}</h5>
  {% for para in project.desc %}
  <p>{{ para }}</p>
  {% endfor %}
  {% if project.url is defined %}
  <a class='button no_pace' target='_BLANK' href='{{ project.url }}'>VIEW THIS PROJECT</a>
  {% endif %}
</div>

{% endblock %}