{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}

<div class='section'>
  <h1>{{ project.title }}</h1>
  {% if project.img is defined %}
  <div class='img-group'>
    <div class='img' style='background-image:url({{ project.img }})'></div>
  </div>
  {% endif %}
  <h5 style='font-weight:500;text-transform:uppercase;'>Client: {{ project.client }}</h5>
  {% for para in project.desc %}
  <p>{{ para }}</p>
  {% endfor %}
  {% if project.url is defined %}
  <a class='button no_pace' target='_BLANK' href='{{ project.url }}'>VIEW THIS PROJECT</a>
  {% endif %}
</div>

{% endblock %}