@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
/*

  Core CSS

*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
.no-fouc {
  display: none
}
a {
  text-decoration: none !important;
  color: #333;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  padding-top: 64px;
  overflow-x: hidden;
}
.pace {
  pointer-events: none;
  user-select: none
}
.pace-inactive {
  display: none
}
.pace .pace-progress {
  background: #343a40;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px
}
/*

  Header

*/
.header {
  position: fixed;
  top: 0;
  height: 64px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0);
}
.header__ham {
  width: 64px;
  height: 64px;
  padding: 19.5px;
  transform: rotate(0);
  transition: .5s cubic-bezier(.02, .01, .47, 1);
  cursor: pointer;
  display: none;
}
.header__ham-container {
  position: relative;
  width: 25px;
  height: 25px;
  transform: rotate(0);
  transition: .5s cubic-bezier(.02, .01, .47, 1);
}
.header__ham-bar {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #343a40;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0);
  transition: .25s cubic-bezier(.02, .01, .47, 1)
}
.header__ham-bar:nth-child(1) {
  top: 0
}
.header__ham-bar:nth-child(2), .header__ham-bar:nth-child(3) {
  top: 10px
}
.header__ham-bar:nth-child(4) {
  top: 20px
}
.menu_open .header__ham-bar:nth-child(1), .menu_open .header__ham-bar:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%
}
.menu_open .header__ham-bar:nth-child(2) {
  transform: rotate(45deg)
}
.menu_open .header__ham-bar:nth-child(3) {
  transform: rotate(-45deg)
}
.header__logo {
  position: absolute;
  left: 120px;
  top: 0;
  line-height: 64px;
  display: block;
  color: #343a40;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
}
.header__links {
  right: 120px;
  position: fixed;
  z-index: 21;
  top: 0;
  transition: 0.3s top cubic-bezier(.02, .01, .47, 1);
}
.header__links li {
  display: inline-block;
  margin: 0 -2px;
}
.header__links-item {
  text-decoration: none;
  display: block;
  color: #90949C;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 25.5px 15px;
  margin: 0 16px;
}
.header__links-item:hover {
  color: #4B4F56;
}
.header__links-item.s {
  pointer-events: none;
  color: #343a40;
}
.header__links-item.projects {
  pointer-events: initial !important;
}
/*

  Project Cards

*/
.card-group {
  width: 97.5%;
  margin: 0 auto;
}
.card-container {
  width: 25%;
  max-width: 400px;
  height: 450px;
  display: inline-block;
}
.card {
  display: block;
  height: 90%;
  width: 90%;
  margin: 5%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
  border-radius: 3px;
  transition: 0.3s all cubic-bezier(.02, .01, .47, 1);
  overflow: hidden;
  border-top: 3px solid #343a40;
}
.card:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, .16);
  transform: translate(0, -20px);
}
.card-content {
  padding: 20px;
  margin-top: 20px;
}
.card-img+.card-content {
  margin-top: 0;
}
.card-title {
  color: #343a40;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.card-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  line-height: 30px;
}
.card-btn {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 25px;
  background-image: url(https://www.shareicon.net/data/128x128/2015/10/08/114094_forward_512x512.png);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
.card-img {
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*

  Sections

*/
.section {
  width: 100%;
  height: 100%;
  padding: 100px 119px 50px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.section h1 {
  color: #343a40;
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
}
.section h2 {
  color: #343a40;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  display: block;
}
.section h3 {
  color: #666;
  font-size: 30px;
  font-weight: 300;
  line-height: 50px;
  display: block;
  margin: 30px 0;
}
.section h4 {
  color: #333;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 30px;
  display: block;
}
.section p {
  color: #666;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  margin: 30px 0;
  display: block;
}
.section .img {
  margin: 20px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.section .img h1 {
  color: #fff;
  padding: 20px;
}
.section .img.small {
  width: 48.75%;
  height: 700px;
  display: inline-block;
}
.section .img.small:nth-child(1) {
  margin-right: 1.25%;
}
.section .img.small:nth-child(2) {
  margin-left: 1.25%;
}
.section .button {
  display: inline-block;
  padding: 13px 0;
  margin-right: 20px;
  color: #343a40;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}
.section .button:hover {
  border-color: #343a40;
}
.section .content {
  display: flex;
  padding-bottom: 40px;
}
.section .col.small {
  width: 35%;
}
.section .col.large {
  width: 65%;
  padding-right: 50px;
}
.section .col.large h2 {
  line-height: 80px;
  margin-top: 20px;
}
/*

  BG

*/
.section.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.section.hero h1 {
  font-size: 90px;
  position: relative;
  top: -64px;
  color: #fff;
}
.section.hero h1 span {
  background: #343a40;
  display: inline-block;
  margin: 3px 0;
}
.bg {
  height: 100%;
  width: 60%;
  background-color: #f9f6f5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: -64px;
  right: 0;
  z-index: -1;
}
/*

  Mobile

*/
@media screen and (max-width: 1020px) {
  .card-container {
    width: 33%;
  }
  .section .img {
    margin: 20px 0 !important;
    width: 100% !important;
    height: 400px !important;
  }
  .section .content {
    flex-direction: column;
  }
  .section .col {
    width: 100% !important;
  }
}
@media screen and (max-width: 860px) {
  .header {
    background: #fff;
  }
  .header__ham {
    display: block;
  }
  .header__links {
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    top: -100%;
    padding-top: 30px;
  }
  .menu_open .header__links {
    top: 64px;
  }
  .header__links li {
    display: block;
  }
  .header__links-item {
    text-align: left;
    padding: 30px 50px;
    font-size: 30px;
  }
  .section .img {
    margin: 20px 0 !important;
    width: 100% !important;
    height: 400px !important;
  }
  .section.hero {
    height: 60vh;
  }
  .section.hero h1 {
    font-size: 50px
  }
  .bg {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header__logo {
    left: 50%;
    transform: translateX(-50%);
  }
  .card-container {
    width: 100%;
    max-width: initial;
  }
  .section {
    padding: 20px;
  }
  .section h1 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .section h2 {
    font-size: 30px;
    line-height: 50px !important;
  }
  .section h3 {
    font-size: 18px;
    line-height: 35px;
  }
  .section h4 {
    font-size: 12px;
    line-height: 20px;
  }
  .section .back {
    display: none;
  }
  .section .img {
    height: 200px !important;
  }
}