@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
/*

  Core CSS

*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.no-fouc {
  display: none
}
a {
  text-decoration: none !important;
  color: #333;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #000;
  overflow-x: hidden;
}
.pace {
  pointer-events: none;
  user-select: none;
}
.pace.pace-inactive .pace-progress {
  display: none;
}
.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, 0) !important;
}
.pace .pace-progress:after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  text-align: center;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 4vmax;
  line-height: 100vh;
  color: #fffbf9;
}
.app {
  transition: 0.45s transform cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  background: #fbfbfb;
}
.menu_open .app {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}
.designer {
  position: fixed;
  right: 0;
  top: 45%;
  line-height: 8.5vmin;
  color: #fff;
  font-weight: 700;
  font-size: 1.7vmin;
  text-transform: uppercase;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: bottom center;
  z-index: 1;
  mix-blend-mode: exclusion;
  color: #999;
}
.designer a {
  color: #fbfbfb;
}
/*

  Header

*/
.header {
  position: fixed;
  top: 40px;
  height: 64px;
  width: 100%;
  left: 0;
  z-index: 24;
  mix-blend-mode: exclusion;
}
.header__ham {
  width: 64px;
  height: 64px;
  padding: 19.5px;
  transform: rotate(0);
  transition: .5s cubic-bezier(.02, .01, .47, 1);
  position: fixed;
  right: 50px;
  cursor: pointer;
}
.header__ham-container {
  position: relative;
  width: 25px;
  height: 25px;
  transform: rotate(0);
  transition: .5s cubic-bezier(.02, .01, .47, 1);
}
.header__ham-bar {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: .25s cubic-bezier(.02, .01, .47, 1)
}
.header__ham-bar:nth-child(1) {
  top: 0
}
.header__ham-bar:nth-child(2), .header__ham-bar:nth-child(3) {
  top: 10px
}
.header__ham-bar:nth-child(4) {
  top: 20px;
  width: 60%;
  right: 0;
  left: initial;
}
body:not(.menu_open) .header__ham:hover .header__ham-bar:nth-child(4) {
  width: 100%;
}
.menu_open .header__ham-bar:nth-child(1), .menu_open .header__ham-bar:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%
}
.menu_open .header__ham-bar:nth-child(2) {
  transform: rotate(45deg)
}
.menu_open .header__ham-bar:nth-child(3) {
  transform: rotate(-45deg)
}
.header__logo {
  position: absolute;
  left: 40px;
  top: 0;
  line-height: 64px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: bottom center;
}
.header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: -100%;
  background-color: #000;
  transition: 0.35s top cubic-bezier(.02, .01, .47, 1);
  transition-delay: 0.1s;
  z-index: 23;
  overflow: hidden;
}
.menu_open .header__nav {
  top: 0;
}
.header__links {
  height: 100%;
  width: 100%;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__links-item {
  text-decoration: none;
  display: block;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3vmax;
  text-align: left;
  font-size: 4vmax;
  margin: 1.3vmax 0;
  cursor: pointer;
}
.header__links-item:hover {
  color: #999;
}
.header__links-item.s {
  background-color: #fffbf9;
  color: #000;
}
.header__links-item.projects {
  pointer-events: initial !important;
}
/*

  Project Cards

*/
.card-group {
  width: 97.5%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.card-container {
  width: 25%;
  max-width: 400px;
  height: 450px;
  display: inline-block;
}
.card {
  display: block;
  height: 90%;
  width: 90%;
  margin: 5%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
  border-radius: 3px;
  transition: 0.3s all cubic-bezier(.02, .01, .47, 1);
  overflow: hidden;
  border-top: 3px solid #343a40;
}
.card:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, .16);
  transform: translate(0, -20px);
}
.card-content {
  padding: 20px;
  margin-top: 20px;
}
.card-img+.card-content {
  margin-top: 0;
}
.card-title {
  color: #343a40;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.card-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  line-height: 30px;
}
.card-btn {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 25px;
  background-image: url(https://www.shareicon.net/data/128x128/2015/10/08/114094_forward_512x512.png);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
.card-img {
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*

  Sections

*/
.section {
  width: 100%;
  height: 100%;
  padding: 13.3vmin 8.2vmax;
  /* max-width: 1920px; */
  margin: 0 auto;
  position: relative;
  background: #fbfbfb;
}
.section h1 {
  color: #343a40;
  font-size: 13.3vmin;
  letter-spacing: 0.7vmax;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
}
.section h2 {
  color: #343a40;
  font-size: 8vmin;
  font-weight: 700;
  line-height: 9.3vmin;
  display: block;
}
.section h3 {
  color: #343a40;
  font-size: 6vmin;
  font-weight: 400;
  margin-bottom: 2.7vmin;
  display: block;
}
.section h5 {
  color: #666;
  font-size: 4vmin;
  font-weight: 300;
  line-height: 6.7vmin;
  display: block;
  margin: 4vmin 0;
}
.section h6 {
  color: #333;
  font-size: 2vmin;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 4vmin;
  display: block;
}
.section p {
  color: #666;
  font-size: 2.7vmin;
  font-weight: 300;
  line-height: 5.3vmin;
  margin: 0 0 4vmin;
  display: block;
}
.section .img {
  margin: 2.7vmin 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 73vmin;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.section .img h1 {
  color: #fff;
  padding: 2.7vmin;
}
.section .img.small {
  width: 48.75%;
  height: 93.3vmin;
  display: inline-block;
}
.section .img.small:nth-child(1) {
  margin-right: 1.25%;
}
.section .img.small:nth-child(2) {
  margin-left: 1.25%;
}
.section .button {
  display: inline-block;
  padding: 1.7vmin 0;
  margin-right: 2.7vmin;
  font-size: 2.1vmin;
  color: #343a40;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: .27vmin solid transparent;
}
.section .button:hover {
  border-color: #343a40;
}
.section .content {
  display: flex;
  padding-bottom: 5.3vmin;
}
.section .col.small {
  width: 35%;
}
.section .col.large {
  width: 65%;
  padding-right: 3.4vmax;
}
.section .col.large h2 {
  line-height: 10.6vmin;
  margin-top: 2.7vmin;
}
.section .back {
  display: flex;
  align-items: center;
  margin-bottom: 4vmin;
}
.section .back span {
  font-size: 2.1vmin;
  color: #343a40;
  text-transform: uppercase;
  margin-left: 1vmin;
}
.section .back svg {
  height: 1.5vmin;
  width: 1.5vmin;
}
/*

  BG

*/
.section.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  background-size: cover;
  background-position: center;
  max-width: initial;
}
.section.hero h1 {
  font-size: 12vmin;
  position: relative;
  color: #fff;
}
.section.hero h1 span {
  padding: 0 0.7vmax;
  display: inline-block;
  margin: 0.4vmin 0;
  background: var(--span-bg, #000);
}
/*

  Map

*/
.section.hero.map {
  padding: 0 !important;
}
.section.hero.map .img {
  height: 100%;
  width: 100%;
  background-image: url(/static/media/location.png);
  background-position: center;
  background-size: cover;
  margin: 0 !important;
}
.section.hero.map .info {
  position: absolute;
  width: 27.8vmax;
  bottom: -13.3vmin;
  right: 7vmin;
  background: #fff;
  z-index: 1;
  padding: 5.3vmin;
  display: flex;
  flex-direction: column;
}
.section.hero.map .footer {
  display: flex;
}
.section.hero.map .footer a {
  color: #343a40;
  display: flex;
  align-items: center;
  font-size: 2.1vmin;
  line-height: 4vmin;
}
.section.hero.map .footer a span {
  flex: 1;
  margin-left: 0.7vmax;
}
.section.hero.map .footer a svg {
  height: 2.7vmin;
  width: 2.7vmin;
  fill: #343a40;
}
/*

  Footer

*/
footer {
  background: #000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
footer .content {
  display: flex;
  padding: 3.5vmax 0;
}
footer .col {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
  padding: 3.5vmax;
  flex: 1;
}
footer .col h1 {
  font-size: 2.8vmax;
  font-weight: 400;
  margin-bottom: 1.3vmin;
}
footer .col p {
  font-size: 1vmax;
  margin-bottom: 2.7vmin;
  line-height: 4vmin;
  font-weight: 400;
  color: #555662;
  flex: 1;
}
footer .col a {
  font-size: 1.2vmax;
  color: #fff;
  position: relative;
  padding: 0.4vmax 0;
}
footer .col a:after {
  content: "";
  height: 0.2vmin;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s width cubic-bezier(0.4, 0, 0.2, 1);
}
footer .col a:hover:after {
  width: 2%;
}
footer .copyright {
  padding: 2vmax 6.6vmin;
}
footer .copyright span {
  line-height: 4vmin;
  display: block;
  color: #555662;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3vmin;
  font-size: 0.8vmax;
}
/*

  Mobile

*/
@media screen and (max-width: 1020px) {
  .card-container {
    width: 33%;
  }
  .section .img-group .img {
    margin: 20px 0 !important;
    width: 100% !important;
    height: 400px !important;
  }
  .section .content {
    flex-direction: column;
  }
  .section .col {
    width: 100% !important;
  }
  .section .col.small {
    margin-top: 20px;
  }
}
@media screen and (max-width: 860px) {
  body {
    padding-top: 64px;
  }
  .designer {
    display: none;
  }
  .header {
    background: #000;
    top: 0;
    z-index: 24 !important;
    mix-blend-mode: initial;
  }
  .header__logo {
    left: 20px;
    transform: rotate(0deg);
  }
  .header__ham {
    right: 0;
  }
  .header__links {
    padding: 0 7.5%;
  }
  .section.hero {
    height: 60vh;
  }
  .section.hero h1 {
    font-size: 50px
  }
  .section.hero.map {
    flex-direction: column;
  }
  .section.hero.map .img {
    background-size: 200%;
  }
  .section.hero.map .info {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
  }
  footer {
    min-height: auto;
    padding: 50px 0;
  }
  footer .content {
    flex-direction: column;
    padding-bottom: 20px;
  }
  footer .col {
    padding: 35px 20px;
    width: 100%;
    align-items: center;
  }
  footer .col h1, footer .col p, footer .col a {
    text-align: center;
  }
  footer .col h1 {
    font-size: 35px;
  }
  footer .col p {
    font-size: 14px;
    line-height: 30px;
  }
  footer .col a {
    font-size: 17px;
  }
  footer .copyright {
    padding: 20px;
  }
  footer .copyright span {
    text-align: center;
    font-size: 12px;
  }
  footer .social {
    width: calc(100vw - 7vmax);
    justify-content: center;
  }
  footer .social a {
    width: 90px;
    height: 90px;
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .card-container {
    width: 100%;
    max-width: initial;
  }
  .section {
    padding: 50px 20px;
  }
  .section h1 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .section h5 {
    font-size: 18px;
    line-height: 35px;
  }
  .section h6 {
    font-size: 12px;
    line-height: 20px;
  }
  .section p {
    font-size: 16px;
    line-height: 30px;
  }
  .section .button {
    font-size: 16px;
    line-height: 30px;
  }
  .section .img-group .img {
    height: 200px !important;
  }
}