{% spaceless %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <meta name='apple-mobile-web-app-capable' content='yes'>
  <meta name='apple-mobile-web-app-status-bar-style' content='default'>
  <meta name='google' content='notranslate' />
  <meta name='description' content="Coding For Good" />
  <title>Coding for Good | {% block title %}{% endblock %}</title>
  <link rel='stylesheet' type='text/css' href='/dist/styles.css'>
</head>

<body class='no-fouc'>
  <header class='header'>
    <div class='header__ham'>
      <div class='header__ham-container'>
        <span class='header__ham-bar'></span><span class='header__ham-bar'></span><span class='header__ham-bar'></span><span class='header__ham-bar'></span>
      </div>
    </div>
    <a href='/' class='header__logo'>Coding For Good</a>
  </header>
  <nav class='header__nav'>
    <div class='header__links'>
      <a class='header__links-item home' href='/'>Home</a>
      <a class='header__links-item projects' href='/projects'>Projects</a>
      <a class='header__links-item hackathon' href='/hackathon'>Hackathon</a>
      <a class='header__links-item contact' href='/contact'>Call for companies</a>
    </div>
  </nav>
  <div class='designer'>* Designed by <a class='no_pace' href='https://palashsharma.com' target="_BLANK">Palash Sharma</a></div>
  <div class='app'>
    <div class='app-container' data-page="{{ page }}" data-title="{{ block('title') }}">

      {% block body %}
      {% endblock %}

    </div>
  </div>
  <footer id='contact'>
    <div class='content'>
      <div class='col ros-bottom'>
        <h1>Join Us</h1>
        <p>Want to inspire change? Join us.<br> Please meet Mr. Kann for details.</p>
        <a href='mailto:dak@uwcsea.edu.sg'>dak@uwcsea.edu.sg</a>
      </div>
      <div class='col ros-bottom'>
        <h1>Start a project</h1>
        <p>Have an idea?<br> Send a proposal. We love taking on new projects.</p>
        <a href='mailto:dak@uwcsea.edu.sg'>dak@uwcsea.edu.sg</a>
      </div>
      <div class='col ros-bottom'>
        <h1>Support Us</h1>
        <p>Are you interested in supporting our cause?<br> Help us through sponsorship or by sharing your expertise.</p>
        <a href='mailto:dak@uwcsea.edu.sg'>dak@uwcsea.edu.sg</a>
      </div>
    </div>
    <div class='copyright ros-bottom'>
      <span>© 2018 Palash Sharma. All Rights Reserved.</span>
    </div>
  </footer>
</body>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script>
  window.paceOptions = {
    "restartOnPushState": false
  }
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js'></script>
<script type='text/javascript' src='/dist/script.js'></script>

</html>

{% endspaceless %}